{% if entry.type == 'product' %}

    {% set productVideo = entry.productVideo.one() %}
    {% set productPlaceholder = entry.productPlaceholder.one() %}
    {% set videoSections = entry.videoSections.all() %}

{% else %}

    {% set productVideo = entry.parent.productVideo.one() %}
    {% set productPlaceholder = entry.parent.productPlaceholder.one() %}
    {% set videoSections = entry.parent.videoSections.all() %}

{% endif %}

<div class="c-product{{entry.type == 'productFullscreen' ? ' c-product--fullscreen' : ''}}">

    {% if entry.type == 'product' %}
    <h3 class="c-product__title h2">{{ entry.title }} - <span>{{ entry.productBrand }}</span></h3>
    {% endif %}

    <div class="c-product__video-player videoPLayer">

        <div class="c-product__video-view">

            <video class="c-product__video productVideo" src="/assets/videos/spot.mp4" preload="metadata" poster="/assets/img/film-poster.jpg"></video>

            <div class="c-product__video-nav">
                
                {% if videoSections %}
                <div class="c-product__chapters">

                    {% for section in videoSections %}
                    <div class="c-product__chapter productChapter" data-chapter-start="{{ section.sectionTime }}">
                        <div class="c-product__section-num">Section {{ loop.index }}</div>
                        <div class="c-product__section-title">
                            {{ section.sectionTitle }}
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                {% endif %}
                
                <div class="c-product__progress-wrap">
                    <progress class="c-product__progress productProgress" value="0" min="0"></progress>
                    <input class="c-product__progress productSeek" value="0" min="0" type="range" step="1">
                </div>
            
            </div>

        </div>

        <div class="c-product__video-controls">
            <button class="c-product__video-play videoPlay"></button>
            <button class="c-product__video-next videoNext"></button>
            <button class="c-product__video-mute videoMute"></button>
            <input class="c-product__video-volume videoVolume" type="range" min="0" max="1" step="0.01" value="1">
            <div class="c-product__video-controls-r">
                <a class="c-product__video-fullscreen" href="{{ craft.app.request.url }}/fullscreen"></a>
                <button class="c-product__video-download c-product__video-downloaded"></button>
            </div>
        </div>

    </div>
</div>