{% extends "_layouts/_base" %}

{% set classAlternate = 'login' %}

{% block content %}

    {% include "_layouts/_header" %}

    <div class="o-main o-main--narrow o-main--center">

        <div class="c-login">

            <h1 class="fw-medium c-login__title">Welcome to The Grid</h1>

            <form method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/login') }}

                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    placeholder: 'User name'
                }) }}

                {{ input('password', 'password', null, {
                    id: 'password',
                    placeholder: 'Password'
                }) }}
                
                <a class="c-login__forgotten" href="{{ url('reset-password') }}">Forgotten password</a>

                <button class="e-button e-button--sign-in c-login__sign-in">
                    <i></i>
                    Sign in
                </button>

                {% if errorMessage is defined %}
                    <p>{{ errorMessage }}</p>
                {% endif %}
            </form>


        </div>

    </div>

    {% include "_layouts/_footer" with {
        trainingCenterHide: true,
        takeQuizHide: true
    } %}

{% endblock %}