{% requireLogin %}
{% requirePermission 'editUsers' %}

{% set allProductCategories = craft.categories()
    .group('productCategories')
    .all() %}

{% set allProducts = craft.entries()
  .section('products')
  .level('1')
  .all() %}

{% set allOperators = craft.users()
    .group('operator')
    .all() %}

{% extends "_layouts/_base" %}

{% block content %}

    {% include "_layouts/_header" with {
        title: "Training - Home",
        homeHide: true
    } %}

    {% if allProductCategories %}
    <div class="c-trainer-overview__categories">

        {% nav category in allProductCategories %}

            <button class="e-button e-button--round c-trainer-overview__button{% if loop.last %} c-trainer-overview__button--active{% endif %}">
                {{ category.title }}
            </button>

        {% endnav %}

    </div>
    {% endif %}

    <div class="o-main o-main--wide">

        <div class="c-trainer-overview">

            {% if allOperators %}
            <div class="c-trainer-overview__users">

                {% for user in allOperators %}

                    <div class="c-trainer-overview__item c-trainer-overview__username">
                        {{ user.username }}
                        {% if user.testPass is empty or user.testPass == 0 %}
                        <div class="c-trainer-overview__unset">1</div>
                        {% endif %}
                    </div>

                {% endfor %}

            </div>
            {% endif %}

            {% if allOperators %}
            <div class="c-trainer-overview__products-wrap">

                {% for user in allOperators %}
                
                    {% if allProducts %}
                    <div class="c-trainer-overview__products">

                        {% for product in allProducts %}
                        <div class="c-trainer-overview__item c-trainer-overview__product">
                            <div class="c-trainer-overview__product-circle{% if product.slug != 'spot-system' %} c-trainer-overview__product-circle--pass{% endif %}{% if product.slug == 'spot-system' and user.testPass %} c-trainer-overview__product-circle--pass{% endif %}"></div>
                            <a
                                href="#"
                                {% if product.slug == 'spot-system' %}
                                data-modal-type="score"
                                data-modal-score="{{ user.score }}"
                                data-modal-passed="{{ user.testPass }}"
                                data-modal-name="{{ user.username }}"
                                data-modal-product="{{ product.title }}"
                                data-modal-brand="{{ product.productBrand }}"
                                {% endif %}
                                class="c-trainer-overview__product-text{% if product.slug == 'spot-system' %} js-modal{% endif %}"
                            >
                                {{ product.title }}
                            </a>
                            {% if product.slug == 'spot-system' and user.username == 'user1' %}
                            <div
                                class="c-trainer-overview__product-notes js-modal"
                                data-modal-type="notes"
                            ></div>
                            {% endif %}
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}

                {% endfor %}

            </div>
            {% endif %}

        </div>

    </div>

    {% set footerSettings = {
        takeQuizHide: true,
        manageUsersShow: true,
        exportShow: true
    } %}    
    {% include "_layouts/_footer" with footerSettings %}

{% endblock %}